modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://cgadnsuyezixjdrjkbvb.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNnYWRuc3V5ZXppeGpkcmprYnZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MjI0OTgsImV4cCI6MjA5NTM5ODQ5OH0.kePPhpHopt1Ks5MjnjTQLyAPXwsGnAVGx8Xv2HMBuGY"
VITE_SUPABASE_PROJECT_ID = "cgadnsuyezixjdrjkbvb"
VITE_MAPBOX_TOKEN = "pk.eyJ1IjoidHJhdmVsbWF0ZTExMjMiLCJhIjoiY21oc2hmM3g5MGo0ajJzcjg1cHgzYjFtYSJ9.5WCLBT_KSghCcRtzH3xreQ"
VITE_PAYSTACK_PUBLIC_KEY = "pk_live_671fccd651daf066804466572cfd0b7c47df2471"

[[ports]]
localPort = 3000
externalPort = 4200

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 3003

[[ports]]
localPort = 20090
externalPort = 80

[nix]
channel = "stable-25_05"
